<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
<meta name="ProgId" content="Word.Document">
<meta name="Generator" content="Microsoft Word 15">
<meta name="Originator" content="Microsoft Word 15">
</head>
<body bgcolor="#EAEAEA" lang="ZH-TW" link="blue" vlink="purple" style="tab-interval:
24.0pt" yahoo="fix">
<div class="WordSection1">
<div align="center">
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="650" style="width:487.5pt;border-collapse:collapse;mso-yfti-tbllook:1184;
 mso-padding-alt:0cm 0cm 0cm 0cm">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes">
  <td style="padding:0cm 0cm 0cm 0cm">
  <div align="center">
  <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="max-width:487.5pt;border-collapse:collapse;mso-yfti-tbllook:1184;
   mso-padding-alt:0cm 0cm 0cm 0cm">
   <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
    <td width="100%" valign="top" style="width:100.0%;padding:0cm 0cm 0cm 0cm">
    <div align="center">
    <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="max-width:487.5pt;background:white;border-collapse:collapse;
     mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm">
     <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:3.0pt">
      <td style="background:#00A94F;padding:0cm 0cm 0cm 0cm;height:3.0pt"></td>
     </tr>
     <tr style="mso-yfti-irow:1;height:31.5pt">
      <td style="padding:0cm 0cm 0cm 0cm;height:31.5pt">
      <div align="center">
      <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="96%" style="width:96.0%;border-collapse:collapse;mso-yfti-tbllook:
       1184;mso-padding-alt:0cm 0cm 0cm 0cm">
       <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes">
        <td width="165" style="width:123.75pt;padding:0cm 0cm 0cm 0cm">
        <p class="MsoNormal"><span lang="EN-US" style="font-family:&quot;微軟正黑體&quot;,sans-serif"><a href="https://www.cathaybk.com.tw/cathaybk/" target="_blank"><span style="text-decoration:none;text-underline:none"><img border="0" width="165" height="40" id="_x0000_i1025" src="cid:mobile_edmlogo.jpg" style="border-bottom-width:0px;border-left-width:0px;border-right-width:
        0px;border-top-width:0px"></span></a><o:p></o:p></span></p>
        </td>
       </tr>
      </tbody></table>
      </div>
      </td>
     </tr>
     <tr style="mso-yfti-irow:2;height:3.0pt">
      <td style="background:#FFFD00;padding:0cm 0cm 0cm 0cm;height:3.0pt"></td>
     </tr>
     <tr style="mso-yfti-irow:3">
      <td style="background:#00A94F;padding:0cm 0cm 0cm 0cm">
      <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="max-width:487.5pt;border-collapse:collapse;mso-yfti-tbllook:1184;
       mso-padding-alt:0cm 0cm 0cm 0cm" height="140">
       <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
        height:105.0pt">
        <td width="110" style="width:82.5pt;background:#E2E2E2;padding:0cm 0cm 0cm 0cm;
        height:105.0pt">
        <p class="MsoNormal"><span lang="EN-US" style="font-family:&quot;微軟正黑體&quot;,sans-serif"><img border="0" id="_x0000_i1026" src="cid:s_banner.png" style="border-bottom-width:0px;border-left-width:0px;border-right-width:
        0px;border-top-width:0px;display:block" class="banner_img"><o:p></o:p></span></p>
        </td>
        <td style="background:#00A94F;padding:0cm 0cm 0cm 0cm;height:105.0pt">
        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:
         0cm 0cm 0cm 0cm">
         <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:
          yes">
          <td style="padding:0cm 0cm 0cm 0cm">
          <p class="MsoNormal" style="line-height:22.5pt"><b><span lang="EN-US" style="font-size:19.0pt;font-family:&quot;微軟正黑體&quot;,sans-serif;color:white">[</span></b><b><span style="font-size:19.0pt;font-family:&quot;微軟正黑體&quot;,sans-serif;color:white">$contentValue.subject</span></b></p>
          </td>
         </tr>
        </tbody></table>
        </td>
       </tr>
      </tbody></table>
      </td>
     </tr>
     <tr style="mso-yfti-irow:4;mso-yfti-lastrow:yes">
      <td width="100%" style="width:100.0%;padding:30.0pt 0cm 0cm 0cm;
      float:left">
      <div align="center">
      <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="max-width:487.5pt;border-collapse:collapse;mso-yfti-tbllook:1184;
       mso-padding-alt:0cm 0cm 0cm 0cm" role="presentation">
       <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes">
        <td width="650" valign="top" style="width:487.5pt;padding:0cm 0cm 0cm 0cm;
        float:left">
        <div align="center">
        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="96%" style="width:96.0%;border-collapse:collapse;mso-yfti-tbllook:
         1184;mso-padding-alt:0cm 0cm 0cm 0cm;max-width:96%">
<!-- 次標題文字 加高度20 -->
         <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
          <td width="96%" style="width:96.0%;padding:0cm 12.25pt 0cm 12.25pt">
          <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse;
           mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm">
           <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
            <td width="50%" style="width:50.0%;padding:0cm 0cm 0cm 0cm">
            <p class="MsoNormal" style="line-height:19.5pt;float:left"><b><span style="font-size:13.5pt;font-family:&quot;微軟正黑體&quot;,sans-serif;color:#434343">$contentValue.salutation<span lang="EN-US">: <o:p></o:p></span></span></b></p>
            </td>
           </tr>
           <tr style="mso-yfti-irow:1;height:15.0pt">
            <td style="padding:0cm 0cm 0cm 0cm;height:15.0pt"></td>
           </tr>
           <tr style="mso-yfti-irow:2">
            <td width="100%" style="width:100.0%;padding:0cm 0cm 0cm 0cm;
            float:left">
            <p class="paragraph"><span style="font-size:10.5pt;font-family:&quot;微軟正黑體&quot;,sans-serif">$contentValue.content<br>
            </span></span><span class="redtext1"><span lang="EN-US" style="font-size:9.0pt;font-family:&quot;微軟正黑體&quot;,sans-serif">*</span></span><span class="redtext1"><span style="font-size:9.0pt;font-family:&quot;微軟正黑體&quot;,sans-serif">僅供內部使用，請勿用於其他用途
            </span></span><span lang="EN-US" style="font-size:10.5pt;font-family:
            &quot;微軟正黑體&quot;,sans-serif"><o:p></o:p></span></p>
            </td>
           </tr>
           <tr style="mso-yfti-irow:3;mso-yfti-lastrow:yes;height:15.0pt">
            <td style="padding:0cm 0cm 0cm 0cm;height:15.0pt"></td>
           </tr>
          </tbody></table>
          </td>
         </tr>
         <tr style="mso-yfti-irow:1;height:7.5pt">
          <td style="padding:0cm 0cm 0cm 0cm;height:7.5pt"></td>
         </tr>
         <tr style="mso-yfti-irow:2;height:7.5pt">
          <td style="padding:0cm 0cm 0cm 0cm;height:7.5pt"></td>
         </tr>
         <tr style="mso-yfti-irow:3">
          <td width="96%" style="width:96.0%;padding:0cm 12.25pt 0cm 12.25pt;
          float:left">
          <div align="center">
          <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="max-width:487.5pt;border-collapse:collapse;mso-yfti-tbllook:
           1184;mso-padding-alt:0cm 0cm 0cm 0cm" role="presentation">
           <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:
            yes">
            <td width="650" valign="top" style="width:487.5pt;padding:0cm 0cm 0cm 0cm">
            <div align="center">
            <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse;
             mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm">
			 
             <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
			 #foreach( $item in $contentValue.items )
			 <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
              <td width="30%" valign="top" style="width:30.0%;border:none;
              border-top:solid #EAEAEA 1.0pt;mso-border-top-alt:solid #EAEAEA .75pt;
              padding:4.5pt 7.5pt 4.5pt 7.5pt">
              <p class="MsoNormal" style="line-height:15.0pt"><b><span style="font-size:10.5pt;font-family:&quot;微軟正黑體&quot;,sans-serif;
              color:#16B15F">$item.attribute<span lang="EN-US"><o:p></o:p></span></span></b></p>
              </td>
              <td width="65%" valign="top" style="width:65.0%;border:none;
              border-top:solid #EAEAEA 1.0pt;mso-border-top-alt:solid #EAEAEA .75pt;
              padding:4.5pt 11.25pt 4.5pt 11.25pt">
              <p class="MsoNormal" style="line-height:15.0pt"><span lang="EN-US" style="font-size:10.5pt;font-family:&quot;微軟正黑體&quot;,sans-serif;
              color:#494949">$item.value</span></p>
              </td>
             </tr>
             #end
             <tr style="mso-yfti-irow:6;mso-yfti-lastrow:yes;height:22.5pt">
              <td style="padding:0cm 0cm 0cm 0cm;height:22.5pt"></td>
              <td style="padding:0cm 0cm 0cm 0cm;height:22.5pt"></td>
             </tr>			 
            </tbody></table>
            
			</div>
            </td>
           </tr>
          </tbody></table>
          </div>
          </td>
         </tr>
         <tr style="mso-yfti-irow:4;height:7.5pt">
          <td style="padding:0cm 0cm 0cm 0cm;height:7.5pt"></td>
         </tr>
         <tr style="mso-yfti-irow:5;height:7.5pt">
          <td style="padding:0cm 0cm 0cm 0cm;height:7.5pt"></td>
         </tr>
         <tr style="mso-yfti-irow:6;mso-yfti-lastrow:yes">
          <td style="padding:0cm 0cm 0cm 0cm"><!-- 聯絡我們  -->
          <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse;
           mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm;float:left">
           <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:
            yes">
            <td style="padding:0cm 0cm 0cm 0cm">
            <p class="MsoNormal" align="center" style="margin-top:22.5pt;
            margin-right:0cm;margin-bottom:18.75pt;margin-left:0cm;text-align:
            center;line-height:15.0pt"><span style="font-size:9.0pt;font-family:
            &quot;微軟正黑體&quot;,sans-serif;color:#666666">本郵件是由系統自動寄發，請勿直接回覆，如有任何問題，請<span lang="EN-US"><a href="https://www.cathaybk.com.tw/cathaybk/contact/index.asp" target="_blank"><span lang="EN-US" style="color:#0070C0"><span lang="EN-US">聯絡我們</span></span></a><br>
            </span>或致電本行<span lang="EN-US">24</span>小時服務專線<span lang="EN-US">(02)2383-1000
            <o:p></o:p></span></span></p>
            </td>
           </tr>
          </tbody></table>
<!-- 聯絡我們 end  --></td>
         </tr>
        </tbody></table>
        </div>
        </td>
       </tr>
      </tbody></table>
      </div>
      </td>
     </tr>
    </tbody></table>
    </div>
    </td>
   </tr>
   <tr style="mso-yfti-irow:1">
    <td width="100%" style="width:100.0%;padding:0cm 0cm 0cm 0cm">
    <p class="MsoNormal"><span lang="EN-US" style="font-family:&quot;微軟正黑體&quot;,sans-serif"><img border="0" width="100%" id="_x0000_i1027" src="cid:edm_footer.jpg" style="border-bottom-width:0px;border-left-width:0px;border-right-width:
    0px;border-top-width:0px;display:block;float:left;width:100%"><o:p></o:p></span></p>
    </td>
   </tr>
   <tr style="mso-yfti-irow:2;mso-yfti-lastrow:yes">
    <td style="padding:0cm 0cm 0cm 0cm"><!--警語樣式-->
    <div align="center">
    <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="max-width:487.5pt;border-collapse:collapse;mso-yfti-tbllook:1184">
     <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes">
      <td style="padding:.75pt .75pt .75pt .75pt">
      <div align="center">
      <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse;mso-yfti-tbllook:
       1184">
       <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes">
        <td style="padding:15.0pt 15.0pt 15.0pt 15.0pt">
        <p class="notetext" style="margin:0cm;margin-bottom:.0001pt"><span style="font-family:&quot;微軟正黑體&quot;,sans-serif">本通訊及其所有附件所含之資訊均屬機密，僅供指定之收件人使用，未經寄件人許可不得揭露、複製或散布本通訊。若您並非指定之收件人，請勿使用、保存或揭露本通訊之任何部份，並請即通知寄件人並完全刪除本通訊。網路通訊可能含有病毒，收件人應自行確認本郵件是否安全，若因此造成損害，寄件人恕不負責。<span lang="EN-US"><br>
        The information contained in this communication and attachment is
        confidential and is intended only for the use of the recipient to which
        this communication is addressed. Any disclosure, copying or
        distribution of this communication without the sender's consents is
        strictly prohibited. If you are not the intended recipient, please
        notify the sender and delete this communication entirely without using,
        retaining, or disclosing any of its contents. Internet communications
        cannot be guaranteed to be virus-free. The recipient is responsible for
        ensuring that this communication is virus free and the sender accepts
        no liability for any damages caused by virus transmitted by this
        communication. <o:p></o:p></span></span></p>
        </td>
       </tr>
      </tbody></table>
      </div>
      </td>
     </tr>
    </tbody></table>
    </div>
<!--警語樣式 end--></td>
   </tr>
  </tbody></table>
  </div>
<!-- End Main wrapper --></td>
 </tr>
</tbody></table>
</div>
<p class="MsoNormal"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>
</div>
</body></html>